<!DOCTYPE html>
<html>

<head>
    <title>Dave's Racing Game</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/sandal-chest/sandal-chest.css">
</head>

<body ng-app='raceApp' ng-controller='race-cont' ng-cloak id='main-body'>
<div ng-include='"navbar.html"'></div>
This needs to have an option to either JOIN or CREATE a game for users who are not in a game, or the GAME FIELD for users who are.
    <script src='/socket.io-client/dist/socket.io.min.js'></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/jquery-ui/jquery-ui.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/bootbox.js/bootbox.js"></script>
    <script src="/angular-bootstrap-context-menu/dist/bootstrapContextMenu-min.js"></script>
    <script src="/js/all.min.js"></script>
</body>

</html>
